# Copia este archivo como mqtt-users.local y sustituye todas las contraseñas.
# Formato: usuario=contraseña
rmm-backend=replace_with_a_strong_local_password
RMM-TM-ST046-01=replace_with_a_different_strong_local_password
RMM-EN-ST046-01=replace_with_a_different_strong_local_password
RMM-EX-ST046-01=replace_with_a_different_strong_local_password

